<h1 mat-dialog-title>New Todo</h1>
<mat-dialog-content>
	<form [formGroup]="todo">
		<mat-form-field>
			<mat-label>Subject</mat-label>
			<input matInput type="text" formControlName="subject">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Text</mat-label>
			<textarea matInput type="text" formControlName="text"></textarea>
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button
		mat-raised-button
		(click)="onCancel()">
		Cancel
	</button>
	<button
		mat-raised-button
		(click)="onSubmit()">
		Submit
	</button>
</mat-dialog-actions>
